<section class="where section">
	<div class="container">
		<div class="where__content">
			<h2 class="where__title h2_title">Куда чаще всего устанавливают современные пластиковые окна?</h2>
			<div class="where__items">
				<div class="where__item">
					<div class="where__item_img_wr">
						<div class="where__item_img">
							<img src="./img/where/img_1.jpg" alt="">
						</div>
					</div>
					<div class="where__item_info">
						<div class="where__item_text">г. СПб, ЖК «Жемчужный Фрегат»</div>
						<div class="where__item_title h3_title">Балконы и лоджии</div>
					</div>
				</div>
				<div class="where__item this--reverse">
					<div class="where__item_img_wr">
						<div class="where__item_img">
							<img src="./img/where/img_2.jpg" alt="">
						</div>
					</div>
					<div class="where__item_info">
						<div class="where__item_text">г. СПб, ЖК «На Шкиперском»</div>
						<div class="where__item_title h3_title">Квартиры</div>
					</div>
				</div>
				<div class="where__item">
					<div class="where__item_img_wr">
						<div class="where__item_img">
							<img src="./img/where/img_3.jpg" alt="">
						</div>
					</div>
					<div class="where__item_info">
						<div class="where__item_text">Ленинградская обл., КП «Три берега»</div>
						<div class="where__item_title h3_title">Частные дома</div>
					</div>
				</div>
				<div class="where__item this--reverse">
					<div class="where__item_img_wr">
						<div class="where__item_img">
							<img src="./img/where/img_4.jpg" alt="">
						</div>
					</div>
					<div class="where__item_info">
						<div class="where__item_text">г. Всеволожск, ул. Козлова</div>
						<div class="where__item_title h3_title">Нежилые помещения</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>