<section class="quality section">
	<div class="container">
		<div class="quality__content">
			<h2 class="quality__title h2_title">Бескомпромиссное качество</h2>
			<div class="quality__items">
				<div class="quality__item">
					<div class="quality__item_img">
						<img src="./img/quality/icon_1.svg" alt="">
					</div>
					<div class="quality__item_text">
						Удерживает тепло зимой, сохраняет прохладу летом, энергоэффективность х2 от обычного окна
					</div>
				</div>
				<div class="quality__item">
					<div class="quality__item_img">
						<img src="./img/quality/icon_2.svg" alt="">
					</div>
					<div class="quality__item_text">
						Защищает предметы мебели и одежду от выгорания, пропускает много естественного света
					</div>
				</div>
				<div class="quality__item">
					<div class="quality__item_img">
						<img src="./img/quality/icon_3.svg" alt="">
					</div>
					<div class="quality__item_text">
						Снижает затраты на электроэнергию до 90 000 ₽ в год, защищает окно от промерзания по краям
					</div>
				</div>
				<div class="quality__item">
					<div class="quality__item_img">
						<img src="./img/quality/icon_4.svg" alt="">
					</div>
					<div class="quality__item_text">
						Обладает повышенной звукоизоляцией и ударопрочностью
					</div>
				</div>
			</div>
		</div>
	</div>
</section>