<section class="ask">
	<form action="#" class="block_form js_form_block_thanks js_form" name="know_size">
		<div class="container">
			<div class="block_form__content">
				<div class="block_thanks__img_block this--know_size">
					<div class="block_thanks__img">
						<img src="./img/ask/girl.png" alt="">
					</div>
					<div class="block_thanks__img_info">
						<div class="block_thanks__img_info_top">Маргарита Кириенкова</div>
						<div class="block_thanks__img_info_bottom">Менеджер контакт-центра</div>
					</div>
				</div>
				<div class="block_form__left">
					<h2 class="ask__title h2_title">Узнайте цену выбранных окон прямо сейчас</h2>
					<div class="ask__text">
						<p>Бесплатный выезд специалиста по городу</p>
						<p>Профессиональный инженер по замеру приедет и подберёт решение с учетом Ваших потребностей, предоставит все образцы</p>
					</div>
					<div class="ask_wa_text">Предварительный расчет отправим в WhatsApp. Ваш персональный менеджер будет на связи 7 дней в неделю</div>
				</div>
				<div class="block_form__right">
					<div class="block_form__form">
						<div class="ask__form_title block_form__title">Оставьте контакты и наш менеджер свяжется с Вами</div>
						<input type="text" class="ask__name_input block_form__input tel-input" placeholder="Ваше имя" name="name">
						<input type="tel" class="ask__tel_input block_form__input tel-input" placeholder="Ваш телефон" name="phone">
						<textarea class="ask__comment_input block_form__input tel-input" placeholder="Ваш вопрос" name="comment"></textarea>
						<button class="ask__submit block_form__submit btn this--blue">Отправить</button>
						<div class="ask__agree block_form__agree">Нажимая кнопку, Вы соглашаетесь с <a href="#policy" data-fancybox="">политикой конфиденциальности</a></div>
					</div>
				</div>
			</div>
		</div>
	</form>
	<div class="block_thanks js_block_thanks">
		<div class="container">
			<div class="block_thanks__content">
				<h2 class="block_thanks__title h2_title">Спасибо за Вашу заявку!<br>Наш менеджер скоро свяжется с Вами</h2>
				<div class="block_thanks__img_block">
					<div class="block_thanks__img this--desktop">
						<img src="./img/qwiz/girl.png" alt="">
					</div>
					<div class="block_thanks__img this--mob">
						<img src="./img/qwiz/man_thanks.png" alt="">
					</div>
					<div class="block_thanks__img_info">
						<div class="block_thanks__img_info_top">Илона Стандецкая</div>
						<div class="block_thanks__img_info_bottom">Специалист по подбору окон</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>