<section class="reviews section">
	<div class="container">
		<div class="reviews__content">
			<h2 class="reviews__title h2_title">480150 довольных клиентов рекомендуют нас</h2>
			<div class="reviews__slider_box">
				<div class="reviews__slider_prev">
					<svg width="14" height="25" viewBox="0 0 14 25" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M2 2L12.5 12.5L2 23" stroke="#213564" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
				</div>
				<div class="reviews__slider_next">
					<svg width="14" height="25" viewBox="0 0 14 25" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M2 2L12.5 12.5L2 23" stroke="#213564" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
				</div>
				<div class="reviews__slider_pagination"></div>
				<div class="reviews__slider reviews_slider swiper-container">
					<div class="reviews_slider__wrapper swiper-wrapper">
						<div class="reviews_slider__slide reviews_slide swiper-slide">
							<div class="reviews_slide__img">
								<img src="./img/reviews/1.png" alt="">
							</div>
						</div>
						<div class="reviews_slider__slide reviews_slide swiper-slide">
							<div class="reviews_slide__img">
								<img src="./img/reviews/1.png" alt="">
							</div>
						</div>
						<div class="reviews_slider__slide reviews_slide swiper-slide">
							<div class="reviews_slide__img">
								<img src="./img/reviews/2.png" alt="">
							</div>
						</div>
						<div class="reviews_slider__slide reviews_slide swiper-slide">
							<div class="reviews_slide__img">
								<img src="./img/reviews/3.png" alt="">
							</div>
						</div>
						<div class="reviews_slider__slide reviews_slide swiper-slide">
							<div class="reviews_slide__img">
								<img src="./img/reviews/4.png" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>