.directly {
  position: relative;
  background: url('../img/directly/bg.jpg') center / cover no-repeat;
  padding: 120px 0 0 0;
  overflow: hidden;

  @media ($desktop) {
    padding: 60px 0 0 0;
  }
  @media ($desktopSmall) {
    padding: 0;
    background: none;
  }
}
.directly__top {
  @media ($desktopSmall) {
    background: url('../img/directly/bg_mob.jpg') center / cover no-repeat;
    position: relative;
    padding-top: 40px;
  }
}
.directly__img {
  position: absolute;
  width: 775px;
  left: -12px;
  bottom: 0;
  z-index: 2;

  @media (max-width: 1760px) {
    width: 650px;
  }

  @media ($desktopBig) {
    width: 550px;
  }

  @media ($desktop) {
    width: 460px;
  }
  @media ($desktopSmall) {
    position: relative;
    margin-top: -30px;
  }

  @media ($tablet3) {
    width: 245px;
  }

  img {
    width: 100%;
  }
}
.directly__bottom {
  margin-top: 42px;
  max-width: 69.79%;
  margin-left: auto;
  padding: 65px calc((100vw - 1720px) / 2) 120px 240px;
  background: #213564;
  border-radius: 36px 0 0 0;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 155px 100%, 0 40px);

  @media (max-width: 1760px) {
    padding: 65px 20px 120px 240px;
  }
  @media ($desktopBig) {
    padding: 45px 20px 60px 190px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 105px 100%, 0 40px);
  }
  @media ($desktop) {
    padding: 45px 20px 60px 160px;
  }
  @media ($desktopSmall) {
    position: static;
    clip-path: none;
    max-width: none;
    border-radius: 0;
    margin-top: 0;
    padding: 45px 20px 60px 90px;
  }
  @media ($tablet3) {
    padding: 40px 15px;
  }
}
.directly__steps {
  display: flex;
  flex-wrap: wrap;
  margin-left: -100px;
  margin-bottom: -70px;

  @media ($desktopBig) {
    margin-left: -70px;
    margin-bottom: -40px;
  }
  @media ($tablet3) {
    margin-left: 0;
    margin-bottom: -40px;
  }
}
.directly__step {
  padding-top: 28px;
  margin-left: 100px;
  margin-bottom: 70px;
  width: calc(50% - 100px);
  position: relative;

  @media ($desktopBig) {
    padding-top: 0;
    width: calc(50% - 70px);
    margin-left: 70px;
    margin-bottom: 40px;
  }
  @media ($tablet3) {
    width: 100%;
    margin-left: 0;
    padding-top: 28px;

    &:first-child {
      .directly__step_title {
        br {
          display: none;
        }
      }
    }
  }
}
.directly__step_num {
  position: absolute;
  top: -22px;
  left: -108px;
  font-weight: 600;
  font-size: 100px;
  line-height: 128px;
  color: rgba(255, 255, 255, 0.1);

  @media ($desktopBig) {
    font-size: 70px;
    left: -75px;
    top: -50px;
  }
  @media ($desktopSmall) {
    font-size: 50px;
    left: -55px;
    top: -50px;
  }
  @media ($tablet3) {
    font-size: 60px;
    line-height: 77px;
    left: -4px;
    top: -22px;
  }
}
.directly__step_title {
  color: #FFFFFF;
}
.directly__step_text {
  margin-top: 20px;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: #FFFFFF;

  @media ($tablet3) {
    font-size: 15px;
    line-height: 140%;
    margin-top: 10px;
  }
}