<section class="directly">
	<div class="directly__top">
		<div class="container">
			<div class="directly__top_content">
				<h2 class="directly__title h2_title">Закажите окна напрямую от завода-изготовителя</h2>
				<div class="directly__img">
					<img src="./img/directly/man.png" alt="">
				</div>
			</div>
		</div>
	</div>
	<div class="directly__bottom">
		<div class="directly__steps">
			<div class="directly__step">
				<div class="directly__step_num">01</div>
				<h4 class="directly__step_title h4_title">Опытная<br> команда</h4>
				<div class="directly__step_text">Более 50 квалифицированных штатных монтажных бригад с опытом более 10 лет</div>
			</div>
			<div class="directly__step">
				<div class="directly__step_num">02</div>
				<h4 class="directly__step_title h4_title">Собственное производство</h4>
				<div class="directly__step_text">23 года на рынке, производим более 17000 окон в год, современное высокоточное оборудование</div>
			</div>
			<div class="directly__step">
				<div class="directly__step_num">03</div>
				<h4 class="directly__step_title h4_title">Высочайшее качество продукции</h4>
				<div class="directly__step_text">Окна DS Neutral сертифицированы для климатических условий Арктики</div>
			</div>
			<div class="directly__step">
				<div class="directly__step_num">04</div>
				<h4 class="directly__step_title h4_title">Договор<br> на дому</h4>
				<div class="directly__step_text">Не нужно никуда ехать, заказ из дома онлайн: договор на дому, оформление рассрочки и оплата через личный кабинет</div>
			</div>
		</div>
	</div>
</section>