<section class="comfort section">
	<div class="container">
		<div class="comfort__content">
			<h2 class="comfort__title h2_title">Бескомпромиссный комфорт круглый год</h2>
			<div class="comfort__row">
				<div class="comfort__left">
					<div class="comfort__left_title h3_title">Сохранение комфортной температуры зимой</div>
					<div class="comfort__left_text">Всесезонное стекло с двойным серебряным нано-покрытием Double Silver® как зеркало отражает тепло, не давая ему покинуть помещение.</div>
				</div>
				<div class="comfort__right">
					<div class="comfort__img">
						<img src="./img/comfort/img_1.jpg" alt="">
						<div class="comfort__img_text">
							В 2 раза лучше удерживает тепло, чем обычный стеклопакет
						</div>
					</div>
				</div>
			</div>
			<div class="comfort__row this--reverse">
				<div class="comfort__left">
					<div class="comfort__left_title h3_title">Улучшенная шумоизоляция стеклопакета</div>
					<div class="comfort__left_text">Теплопакет с добавлением триплекса – решение для жителей шумных городских районов.</div>
				</div>
				<div class="comfort__right">
					<div class="comfort__img">
						<img src="./img/comfort/img_2.jpg" alt="">
						<div class="comfort__img_text">
							В 2 раза лучше сдерживает шум, чем обычный стеклопакет
						</div>
					</div>
				</div>
			</div>
			<div class="comfort__row">
				<div class="comfort__left">
					<div class="comfort__left_title h3_title">Защита от промерзания</div>
					<div class="comfort__left_text">Во всех стеклопакетах линейки используется теплая пластиковая дистанционная рамка, стеклопакет с ней выдерживает суровые морозы и жаркое лето, не теряет герметичность и служит дольше.</div>
				</div>
				<div class="comfort__right">
					<div class="comfort__img">
						<img src="./img/comfort/img_3.jpg" alt="">
						<div class="comfort__img_text">
							В 4 раза лучше защищает от конденсата
						</div>
					</div>
				</div>
			</div>
			<div class="comfort__row this--reverse">
				<div class="comfort__left">
					<div class="comfort__left_title h3_title">Больше экономии</div>
					<div class="comfort__left_text">Благодаря отличным солнцезащитным и энергосберегающим свойствам, позволяет сократить коммунальные расходы на кондиционирование летом и отопление помещения зимой.</div>
				</div>
				<div class="comfort__right">
					<div class="comfort__img">
						<img src="./img/comfort/img_4.jpg" alt="">
						<div class="comfort__img_text">
							До 90 тысяч рублей экономии в год
						</div>
					</div>
				</div>
			</div>
			<div class="comfort__row">
				<div class="comfort__left">
					<div class="comfort__left_title h3_title">Бессрочная гарантия</div>
					<div class="comfort__left_text">Бесплатная замена по гарантии элементов фурнитуры и стеклопакетов в течение 7 лет. По истечение этого срока заменяемые элементы и механизмы оплачиваются клиентом, а работы по их замене ничего не будут стоить!</div>
				</div>
				<div class="comfort__right">
					<div class="comfort__img">
						<img src="./img/comfort/img_5.jpg" alt="">
						<div class="comfort__img_text">
							Более 35 лет службы
						</div>
					</div>
				</div>
			</div>
			<div class="comfort__row this--reverse">
				<div class="comfort__left">
					<div class="comfort__left_title h3_title">Индивидуальный дизайн</div>
					<div class="comfort__left_text">Красивый оттенок позволяет выразить уникальность и вкус хозяев квартиры или частного дома, не жертвуя видом из окна и комфортом.</div>
				</div>
				<div class="comfort__right">
					<div class="comfort__img">
						<img src="./img/comfort/img_6.jpg" alt="">
						<div class="comfort__img_text">
							4 дизайнерских оттенка, разработанных с архитекторами
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>