<header class="header">
	<div class="container">
		<div class="header__content">
			<div class="header__logo_group">
				<div class="header__logo_left">
					<img src="./img/header/left_logo.png" alt="">
				</div>
				<div class="header__logo_right">
					<img src="./img/header/right_logo.png" alt="">
				</div>
			</div>
			<div class="header__nav_wr js_nav_wr">
				<div class="header__nav js_nav">
					<span class="header__nav_close js_nav_close"></span>
					<div class="header__menu">
						<a href="#map_section" class="header__menu_item this--saloons">14 салонов в Петербурге</a>
						<div class="header__menu_item this--time">Ежедневно 09:00–21:00</div>
						<a href="tel:+78124253799" class="header__menu_item this--tel">+7 (812) 425-37-99</a>
						<a href="#" class="header__menu_item this--mobile_btn btn this--blue js_open_callback_popup">Заказать замер</a>
					</div>
					<div class="header__logo_group_mob">
						<div class="header__logo_left_mob">
							<img src="./img/header/left_logo.png" alt="">
						</div>
						<div class="header__logo_right_mob">
							<img src="./img/header/right_logo.png" alt="">
						</div>
					</div>
				</div>
			</div>
			<div class="header__btn_group">
				<a href="#" class="header__btn btn this--blue js_open_callback_popup">Заказать замер</a>
				<div class="header__burger js_nav_open">
					<span></span>
					<span></span>
					<span></span>
				</div>
			</div>
		</div>
	</div>
</header>