<section class="qwiz">
	<form name="qwiz" action="#" class="qwiz__form js_form_block_thanks js_form js_qwiz_form">
		<div class="container">
			<div class="qwiz__row">
				<div class="qwiz__left">
					<h2 class="qwiz__title h2_title">Рассчитать примерную стоимость установки</h2>
					<div class="qwiz__content active" data-step="1">
						<div class="qwiz__count">
							<div class="qwiz__count_text">Вопрос 1 из 3</div>
							<div class="qwiz__count_line this--33"></div>
						</div>
						<h3 class="qwiz__question h3_title">Куда Вы планируете устанавливать окно?</h3>
						<div class="qwiz__text">Выберите один вариант</div>
						<div class="qwiz__inputs">
							<div class="qwiz__input this--radio">
								<input type="radio" name="where" id="radio-1" value="Дом">
								<label for="radio-1">Дом</label>
							</div>
							<div class="qwiz__input this--radio">
								<input type="radio" name="where" id="radio-2" value="Квартира">
								<label for="radio-2">Квартира</label>
							</div>
							<div class="qwiz__input this--radio">
								<input type="radio" name="where" id="radio-3" value="Другое">
								<label for="radio-3">Другое</label>
							</div>
						</div>
						<div class="qwiz__btns">
							<button class="qwiz__btn btn this--blue this--next disabled js_change_step" data-step="2">Следующий вопрос <svg width="13" height="20" viewBox="0 0 13 20" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M2.29395 2.14282L10.3234 9.64282L2.29395 17.1428" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
							</svg></button>
						</div>
					</div>
					<div class="qwiz__content" data-step="2">
						<div class="qwiz__count">
							<div class="qwiz__count_text">Вопрос 2 из 3</div>
							<div class="qwiz__count_line this--66"></div>
						</div>
						<h3 class="qwiz__question h3_title">Вы сможете указать размеры изделия?</h3>
						<div class="qwiz__text">Выберите один вариант</div>
						<div class="qwiz__inputs">
							<div class="qwiz__input this--radio">
								<input type="radio" name="size" id="radio-4" value="Да, смогу">
								<label for="radio-4">Да, смогу</label>
							</div>
							<div class="qwiz__input this--radio">
								<input type="radio" name="size" id="radio-5" value="Я знаю точные размеры">
								<label for="radio-5">Я знаю точные размеры</label>
							</div>
							<div class="qwiz__input this--radio">
								<input type="radio" name="size" id="radio-6" value="Требуется инженер по замеру">
								<label for="radio-6">Требуется инженер по замеру</label>
							</div>
						</div>
						<div class="qwiz__btns">
							<button class="qwiz__btn btn this--wh this--prev js_change_step"data-step="1"><svg width="13" height="20" viewBox="0 0 13 20" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M10.7061 2.14282L2.67664 9.64282L10.7061 17.1428" stroke="#213564" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
							</svg> Предыдущий вопрос</button>
							<button class="qwiz__btn btn this--blue this--next disabled js_change_step" data-step="3">Следующий вопрос <svg width="13" height="20" viewBox="0 0 13 20" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M2.29395 2.14282L10.3234 9.64282L2.29395 17.1428" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
							</svg></button>
						</div>
					</div>
					<div class="qwiz__content" data-step="3">
						<div class="qwiz__count">
							<div class="qwiz__count_text">Вопрос 3 из 3</div>
							<div class="qwiz__count_line this--100"></div>
						</div>
						<h3 class="qwiz__question h3_title">Какую сверхспособность стеклопакета предпочитаете?</h3>
						<div class="qwiz__text">Можно выбрать несколько вариантов</div>
						<div class="qwiz__inputs this--flex">
							<div class="qwiz__input this--checkbox">
								<input type="checkbox" name="supernatural-1" id="check-1" value="Приватность, зеркальность">
								<label for="check-1">Приватность, зеркальность</label>
							</div>
							<div class="qwiz__input this--checkbox">
								<input type="checkbox" name="supernatural-2" id="check-2" value="Мультифункциональность">
								<label for="check-2">Мультифункциональность</label>
							</div>
							<div class="qwiz__input this--checkbox">
								<input type="checkbox" name="supernatural-3" id="check-3" value="Солнцезащита">
								<label for="check-3">Солнцезащита</label>
							</div>
							<div class="qwiz__input this--checkbox">
								<input type="checkbox" name="supernatural-4" id="check-4" value="Шумоподавление">
								<label for="check-4">Шумоподавление</label>
							</div>
							<div class="qwiz__input this--checkbox">
								<input type="checkbox" name="supernatural-5" id="check-5" value="Энергоэффективность, сохранение тепла">
								<label for="check-5">Энергоэффективность, сохранение тепла</label>
							</div>
							<div class="qwiz__input this--checkbox">
								<input type="checkbox" name="supernatural-6" id="check-6" value="Цветной">
								<label for="check-6">Цветной</label>
							</div>
						</div>
						<div class="qwiz__btns">
							<button class="qwiz__btn btn this--wh this--prev js_change_step" data-step="2"><svg width="13" height="20" viewBox="0 0 13 20" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M10.7061 2.14282L2.67664 9.64282L10.7061 17.1428" stroke="#213564" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
							</svg> Предыдущий вопрос</button>
							<button class="qwiz__btn btn this--blue this--next disabled js_change_step" data-step="4">Следующий вопрос <svg width="13" height="20" viewBox="0 0 13 20" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M2.29395 2.14282L10.3234 9.64282L2.29395 17.1428" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
							</svg></button>
						</div>
					</div>
					<div class="qwiz__content" data-step="4">
						<h3 class="qwiz__question h3_title this--mt_0">Осталось совсем чуть-чуть!</h3>
						<div class="qwiz__text">Чтобы закрепить скидку и получить предрасчет, введите свой номер телефона, менеджер свяжется с Вами в течение 15 минут</div>
						<div class="qwiz__inputs">
							<input type="tel" class="qwiz__tel_input tel-input" placeholder="+7 (___) ___-__-__" name="phone">
						</div>
						<div class="qwiz__btns">
							<button class="qwiz__btn btn this--blue this--next this--400">Получить расчет и скидку <svg width="13" height="20" viewBox="0 0 13 20" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M2.29395 2.14282L10.3234 9.64282L2.29395 17.1428" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
							</svg></button>
						</div>
						<div class="qwiz__special">Для всех, кто прошел опрос, замер бесплатный!</div>
					</div>
				</div>
				<div class="qwiz__right">
					<div class="qwiz__discount">
						<div class="qwiz__discount_top">
							<div class="qwiz__discount_top_text">Ваша скидка на установку</div>
							<div class="qwiz__discount_value js_qwiz_discount_value">5%</div>
						</div>
						<div class="qwiz__discount_bottom">Скидка растет с каждым ответом</div>
					</div>
					<div class="qwiz__info">
						<div class="qwiz__info_img">
							<img src="./img/qwiz/qwiz_man.png" alt="">
						</div>
						<div class="qwiz__info_items">
							<div class="qwiz__info_item">
								<div class="qwiz__info_title">Игорь Атаманов</div>
								<div class="qwiz__info_subtitle">Ведущий инженер по замерам</div>
								<div class="qwiz__info_text">Если затрудняетесь с ответом, позвоните нам, мы сделаем расчет по телефону</div>
							</div>
							<div class="qwiz__info_item">
								<div class="qwiz__info_wa">В WhatsApp мы отвечаем 7 дней в неделю</div>
								<a href="https://wa.me/78124253799" class="qwiz__info_wa_link">+7 (812) 425-37-99</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
	<div class="block_thanks js_block_thanks">
		<div class="container">
			<div class="block_thanks__content">
				<h2 class="block_thanks__title h2_title">Спасибо за Вашу заявку!<br>Наш менеджер скоро свяжется с Вами</h2>
				<div class="block_thanks__img_block">
					<div class="block_thanks__img this--desktop">
						<img src="./img/qwiz/girl.png" alt="">
					</div>
					<div class="block_thanks__img this--mob">
						<img src="./img/qwiz/man_thanks.png" alt="">
					</div>
					<div class="block_thanks__img_info">
						<div class="block_thanks__img_info_top">Илона Стандецкая</div>
						<div class="block_thanks__img_info_bottom">Специалист по подбору окон</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>