<section class="five section">
	<div class="container">
		<div class="five__content">
			<h2 class="five__title h2_title">Пять составляющих надёжного окна</h2>
			<div class="five__row">
				<div class="five__tab_links">
					<a href="#" class="five__tab_link active js_five_tab_link" data-tab="1">
						<div class="five__tab_link_num">1</div>
						<div class="five__tab_link_title">Профиль</div>
						<span class="five__tab_link_arrow">
							<svg width="17" height="28" viewBox="0 0 17 28" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M3 3L13.5 13.5L3 24" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>
						</span>
					</a>
					<a href="#" class="five__tab_link js_five_tab_link" data-tab="2">
						<div class="five__tab_link_num">2</div>
						<div class="five__tab_link_title">Стеклопакет</div>
						<span class="five__tab_link_arrow">
							<svg width="17" height="28" viewBox="0 0 17 28" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M3 3L13.5 13.5L3 24" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>
						</span>
					</a>
					<a href="#" class="five__tab_link js_five_tab_link" data-tab="3">
						<div class="five__tab_link_num">3</div>
						<div class="five__tab_link_title">Фурнитура</div>
						<span class="five__tab_link_arrow">
							<svg width="17" height="28" viewBox="0 0 17 28" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M3 3L13.5 13.5L3 24" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>
						</span>
					</a>
					<a href="#" class="five__tab_link js_five_tab_link" data-tab="4">
						<div class="five__tab_link_num">4</div>
						<div class="five__tab_link_title">Теплый подставочный профиль</div>
						<span class="five__tab_link_arrow">
							<svg width="17" height="28" viewBox="0 0 17 28" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M3 3L13.5 13.5L3 24" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>
						</span>
					</a>
					<a href="#" class="five__tab_link js_five_tab_link" data-tab="5">
						<div class="five__tab_link_num">5</div>
						<div class="five__tab_link_title">Теплый монтаж</div>
						<span class="five__tab_link_arrow">
							<svg width="17" height="28" viewBox="0 0 17 28" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M3 3L13.5 13.5L3 24" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>
						</span>
					</a>
				</div>
				<div class="five__tabs">
					<div class="five__tab active js_five_tab" data-tab="1">
						<div class="five__tab_link this--mob js_five_accordion_head">
							<div class="five__tab_link_num">1</div>
							<div class="five__tab_link_title">Профиль</div>
							<span class="five__tab_link_arrow">
								<svg width="17" height="28" viewBox="0 0 17 28" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M3 3L13.5 13.5L3 24" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
							</span>
						</div>
						<div class="five__tab_row">
							<div class="five__tab_left">
								<div class="five__tab_img">
									<img src="./img/five/five_1.png" alt="">
								</div>
							</div>
							<div class="five__tab_right">
								<div class="five__tab_title h3_title">Профиль VEKA</div>
								<div class="five__tab_text">Используем только оригинальный профиль VEKA с прочным замкнутым армированием, что гарантирует надёжность и долговечность Ваших окон. Мы уверены в качестве нашей продукции и несем ответственность за свою работу — именно поэтому мы даем бессрочную пожизненную гарантию на наши изделия</div>
							</div>
						</div>
					</div>
					<div class="five__tab js_five_tab" data-tab="2">
						<div class="five__tab_link this--mob js_five_accordion_head">
							<div class="five__tab_link_num">2</div>
							<div class="five__tab_link_title">Стеклопакет</div>
							<span class="five__tab_link_arrow">
								<svg width="17" height="28" viewBox="0 0 17 28" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M3 3L13.5 13.5L3 24" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
							</span>
						</div>
						<div class="five__tab_row">
							<div class="five__tab_left">
								<div class="five__tab_img">
									<img src="./img/five/five_2.png" alt="">
								</div>
							</div>
							<div class="five__tab_right">
								<div class="five__tab_title h3_title">Стеклопакет</div>
								<div class="five__tab_text">Стеклопакет составляет 80% окна, поэтому считается важнейшим показателем надежного окна. Сопротивление теплопередаче у Теплопакета DS Neutral с низкоэмиссионным стеклом составляет 1,43 м2*C/Вт, что в 2,5 раза больше, чем у обычного двухкамерного стеклопакета! Мы гарантируем впечатляющие свойства стеклопакетов — энергосбережение, шумоизоляция, солнцезащита и мультифункциональность, а также непревзойденный дизайн, представленный в четырех оттенках</div>
							</div>
						</div>
					</div>
					<div class="five__tab js_five_tab" data-tab="3">
						<div class="five__tab_link this--mob js_five_accordion_head">
							<div class="five__tab_link_num">3</div>
							<div class="five__tab_link_title">Фурнитура</div>
							<span class="five__tab_link_arrow">
								<svg width="17" height="28" viewBox="0 0 17 28" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M3 3L13.5 13.5L3 24" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
							</span>
						</div>
						<div class="five__tab_row">
							<div class="five__tab_left">
								<div class="five__tab_img">
									<img src="./img/five/five_3.png" alt="">
								</div>
							</div>
							<div class="five__tab_right">
								<div class="five__tab_title h3_title">Фурнитура</div>
								<div class="five__tab_text">За один день окна проходят несколько циклов открывания. Корректное открывание и закрывание створки обеспечивает оконная фурнитура. Работаем с надежной немецкой фурнитурой, каждая створка рассчитана на 23 000 циклов открывания — это 60 лет бесперебойной работы Вашего окна. На нашем собственном складе всегда имеется большой запас комплектующих для обеспечения лучших сроков изготовления по городу!</div>
							</div>
						</div>
					</div>
					<div class="five__tab js_five_tab" data-tab="4">
						<div class="five__tab_link this--mob js_five_accordion_head">
							<div class="five__tab_link_num">4</div>
							<div class="five__tab_link_title">Теплый подставочный профиль</div>
							<span class="five__tab_link_arrow">
								<svg width="17" height="28" viewBox="0 0 17 28" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M3 3L13.5 13.5L3 24" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
							</span>
						</div>
						<div class="five__tab_row">
							<div class="five__tab_left">
								<div class="five__tab_img">
									<img src="./img/five/five_4.png" alt="">
								</div>
							</div>
							<div class="five__tab_right">
								<div class="five__tab_title h3_title">Теплый подставочный профиль</div>
								<div class="five__tab_text">При монтаже используем теплый подставочный профиль, который защищает от промерзания самую проблемную зону – нижнюю часть окна, избавляет от конденсата и образования плесени, обеспечивает повышение температуры поверхности нижней части окна более, чем на 8° C</div>
							</div>
						</div>
					</div>
					<div class="five__tab js_five_tab" data-tab="5">
						<div class="five__tab_link this--mob js_five_accordion_head">
							<div class="five__tab_link_num">5</div>
							<div class="five__tab_link_title">Теплый монтаж</div>
							<span class="five__tab_link_arrow">
								<svg width="17" height="28" viewBox="0 0 17 28" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M3 3L13.5 13.5L3 24" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
							</span>
						</div>
						<div class="five__tab_row">
							<div class="five__tab_left">
								<div class="five__tab_img">
									<img src="./img/five/five_5.png" alt="">
								</div>
							</div>
							<div class="five__tab_right">
								<div class="five__tab_title h3_title">Теплый монтаж</div>
								<div class="five__tab_text">Качественные изделия + профессиональный монтаж = формула Ваших идеальных окон! Наши специалисты технического отдела разработали собственную технологию монтажа «Монтаж Комфорт» на основе рекомендаций ГОСТа-30971-2012, которая позволяет продлить срок эксплуатации пластиковых и деревянных оконных конструкций. Выполняется максимальная изоляция наружного слоя шва, между оконным профилем и стеной здания используется специальная уплотнительная лента. Также производится защита внутреннего монтажного шва от воздействия влаги. Таким образом, обеспечивается надежная защита от конденсата, холода, пыли и шума. Такая система не оставляет шансов для плесени и грибка, которые могут образовываться на откосах и внутренних поверхностях стыков.</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>