<section class="works section">
	<div class="container">
		<div class="works__content">
			<h2 class="works__title h2_title">Наши работы</h2>
			<div class="works__slider_box">
				<div class="works__slider_prev">
					<svg width="14" height="25" viewBox="0 0 14 25" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M2 2L12.5 12.5L2 23" stroke="#213564" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
				</div>
				<div class="works__slider_next">
					<svg width="14" height="25" viewBox="0 0 14 25" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M2 2L12.5 12.5L2 23" stroke="#213564" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
				</div>
				<div class="works__slider_pagination"></div>
				<div class="works__slider works_slider swiper-container">
					<div class="works_slider__wrapper swiper-wrapper">
						<div class="works_slider__slide works_slide swiper-slide">
							<div class="works_slide__row">
								<div class="works_slide__left">
									<div class="works_slide__img">
										<img src="./img/works/img_1.jpg" alt="">
									</div>
								</div>
								<div class="works_slide__right">
									<div class="works_slide__info">
										<div class="works_slide__title h3_title">Установка окон в частном доме</div>
										<div class="works_slide__text">На объекте установлены теплые ламинированные окна с двухкамерными теплопакетами DS Neutral, а также входные двери с теплопакетом DS Neutral. Такие стеклопакеты сохраняют комфортную температуру зимой и защищают от промерзания краевой зоны стеклопакета, что особенно важно, когда конструкция панорамная. Окна выполнены из профиля WHS60 by VEKA, а входные двери из профиля WHS72 by VEKA. Отличительной особенностью данного объекта являются панорамные окна в пол и окно в крыше, чтобы владельцы дома могли насладиться видом и смотреть на звезды, а с рассветом первые лучи солнца будут проникать в дом.</div>
										<div class="works_slide__author">Константин и Анна, июнь 2022 г.</div>
									</div>
									<form class="works_slide__form js_form" name="works_slide_form-1">
										<input type="tel" class="works_slide__form_input tel-input" placeholder="+7 (___) ___-__-__" name="phone">
										<button class="works_slide__form_submit btn this--yellow">Хочу так же</button>
										<div class="works_slide__form_agree">Нажимая кнопку, Вы соглашаетесь с <a href="#policy" data-fancybox="">политикой конфиденциальности</a></div>
									</form>
								</div>
							</div>
						</div>
						<div class="works_slider__slide works_slide swiper-slide">
							<div class="works_slide__row">
								<div class="works_slide__left">
									<div class="works_slide__img">
										<img src="./img/works/img_2.jpg" alt="">
									</div>
								</div>
								<div class="works_slide__right">
									<div class="works_slide__info">
										<div class="works_slide__title h3_title">Установка окон в банном доме</div>
										<div class="works_slide__text">В загородном доме установлены окна из теплого алюминиевого профиля с теплопакетами DS Neutral, а также входные двери из теплого алюминия с теплопакетами DS Neutral. Панорамные окна с теплопакетами отлично удерживают прохладу летом, а зимой сохраняют тепло в доме благодаря всесезонному мультифункциональному стеклу. Входные двери, установленные на выход на террасу, оснащены москитными дверями, так как объект находится возле леса и летом очень много комаров.
										</div>
										<div class="works_slide__author">Олеся, май 2022 г.</div>
									</div>
									<form class="works_slide__form js_form" name="works_slide_form-2">
										<input type="tel" class="works_slide__form_input tel-input" placeholder="+7 (___) ___-__-__" name="phone">
										<button class="works_slide__form_submit btn this--yellow">Хочу так же</button>
										<div class="works_slide__form_agree">Нажимая кнопку, Вы соглашаетесь с <a href="#policy" data-fancybox="">политикой конфиденциальности</a></div>
									</form>
								</div>
							</div>
						</div>
						<div class="works_slider__slide works_slide swiper-slide">
							<div class="works_slide__row">
								<div class="works_slide__left">
									<div class="works_slide__img">
										<img src="./img/works/img_3.jpg" alt="">
									</div>
								</div>
								<div class="works_slide__right">
									<div class="works_slide__info">
										<div class="works_slide__title h3_title">Установка окон в беседке</div>
										<div class="works_slide__text">В беседке для мероприятий установлены окна VEKA Thermal с двухкамерными теплопакетами DS NEXT в оттенке Blue Sapphire, такой стеклопакет пропускает больше естественного света и блокирует солнечный жар летом. Цвет профиля выбран клиентом под стилистику беседки, внутри Золотой дуб в массе, снаружи цвет Антрацит. Для окон используется взломостойкая фурнитура Siegenia Titan. Отличительной особенностью окон является скрытолежащая фурнитура, то есть петли встроены внутрь окна, визуально петель не видно, что дает улучшенную герметичность и звукоизоляцию, исключает проблемы с провисанием створок.
										</div>
										<div class="works_slide__author">Николай, сентябрь 2022 г.</div>
									</div>
									<form class="works_slide__form js_form" name="works_slide_form-3">
										<input type="tel" class="works_slide__form_input tel-input" placeholder="+7 (___) ___-__-__" name="phone">
										<button class="works_slide__form_submit btn this--yellow">Хочу так же</button>
										<div class="works_slide__form_agree">Нажимая кнопку, Вы соглашаетесь с <a href="#policy" data-fancybox="">политикой конфиденциальности</a></div>
									</form>
								</div>
							</div>
						</div>
						<div class="works_slider__slide works_slide swiper-slide">
							<div class="works_slide__row">
								<div class="works_slide__left">
									<div class="works_slide__img">
										<img src="./img/works/img_4.jpg" alt="">
									</div>
								</div>
								<div class="works_slide__right">
									<div class="works_slide__info">
										<div class="works_slide__title h3_title">Остекление таунхауса
										</div>
										<div class="works_slide__text">На объекте в коттеджном поселке установлены окна из профиля VEKA Softline, цвет профиля внутри и снаружи Орех в массе. Двухкамерные теплопакеты DS NEXT в оттенке Red Gold подобраны архитектором для создания единой концепции здания. Такие окна надежно защищены от промерзания по краям светопрозрачной конструкции, поддерживают комфортную температуру круглый год. Для окон используется взломостойкая фурнитура Siegenia Titan, которая защищает дом от нежелательных вторжений.
										</div>
										<div class="works_slide__author"> Олег, сентябрь 2021 г.</div>
									</div>
									<form class="works_slide__form js_form" name="works_slide_form-4">
										<input type="tel" class="works_slide__form_input tel-input" placeholder="+7 (___) ___-__-__" name="phone">
										<button class="works_slide__form_submit btn this--yellow">Хочу так же</button>
										<div class="works_slide__form_agree">Нажимая кнопку, Вы соглашаетесь с <a href="#policy" data-fancybox="">политикой конфиденциальности</a></div>
									</form>
								</div>
							</div>
						</div>
						<div class="works_slider__slide works_slide swiper-slide">
							<div class="works_slide__row">
								<div class="works_slide__left">
									<div class="works_slide__img">
										<img src="./img/works/img_5.jpg" alt="">
									</div>
								</div>
								<div class="works_slide__right">
									<div class="works_slide__info">
										<div class="works_slide__title h3_title">Остекление загородного дома</div>
										<div class="works_slide__text">В загородном доме установлены окна из профиля VEKA Softline в белом цвете, двухкамерный теплопакет DS NEXT в оттенке White Platinum. Такие окна позволяют сократить коммунальные расходы на кондиционирование летом и на отопление зимой благодаря отличным солнцезащитным и энергосберегающим свойствам, это особенно актуально в загородных домах с большой площадью и панорамным остеклением. Для окон используется взломостойкая фурнитура ROTO NX, которая защищает дом от нежелательных вторжений.
										</div>
										<div class="works_slide__author">Иван, май 2021 г.</div>
									</div>
									<form class="works_slide__form js_form" name="works_slide_form-5">
										<input type="tel" class="works_slide__form_input tel-input" placeholder="+7 (___) ___-__-__" name="phone">
										<button class="works_slide__form_submit btn this--yellow">Хочу так же</button>
										<div class="works_slide__form_agree">Нажимая кнопку, Вы соглашаетесь с <a href="#policy" data-fancybox="">политикой конфиденциальности</a></div>
									</form>
								</div>
							</div>
						</div>
						<div class="works_slider__slide works_slide swiper-slide">
							<div class="works_slide__row">
								<div class="works_slide__left">
									<div class="works_slide__img">
										<img src="./img/works/img_6.jpg" alt="">
									</div>
								</div>
								<div class="works_slide__right">
									<div class="works_slide__info">
										<div class="works_slide__title h3_title">Замена холодного фасадного остекления на теплое на балконе
										</div>
										<div class="works_slide__text">Наша компания выполняла замену холодного фасадного остекления от застройщика на теплое остекление из профиля VEKA Softline с теплопакетами DS Neutral в ЖК «Жемчужный фрегат». Застройщики экономят на остеклении жилых помещений и качество установленных алюминиевых конструкций не обеспечивает сохранения тепла. При смене холодного остекления на теплое использование балкона становится возможным круглогодично. Благодаря всесезонному мультифункциональному стеклу поддерживается оптимальная температура и комфортная среда на балконе. Также наша компания выполняла отделку балкона, чтобы можно было использовать балкон как дополнительное помещение, организовав зону отдыха или кабинет.
										</div>
										<div class="works_slide__author">Ирина, октябрь 2022 г.</div>
									</div>
									<form class="works_slide__form js_form" name="works_slide_form-6">
										<input type="tel" class="works_slide__form_input tel-input" placeholder="+7 (___) ___-__-__" name="phone">
										<button class="works_slide__form_submit btn this--yellow">Хочу так же</button>
										<div class="works_slide__form_agree">Нажимая кнопку, Вы соглашаетесь с <a href="#policy" data-fancybox="">политикой конфиденциальности</a></div>
									</form>
								</div>
							</div>
						</div>
						<div class="works_slider__slide works_slide swiper-slide">
							<div class="works_slide__row">
								<div class="works_slide__left">
									<div class="works_slide__img">
										<img src="./img/works/img_7.jpg" alt="">
									</div>
								</div>
								<div class="works_slide__right">
									<div class="works_slide__info">
										<div class="works_slide__title h3_title">Остекление квартиры</div>
										<div class="works_slide__text">В квартире в ЖК «На Шкиперском» были установлены окна из профиля VEKA Softline, а также теплопакеты DS Neutral двухкамерные с добавлением триплекса для высокой шумоизоляции, чтобы шум от трассы и со двора не проникал в квартиру. Всесезонное мультифункциональное стекло позволяет сохранить комфортную среду в квартире и при этом экономить на отоплении и кондиционировании. Также было выполнено объединение комнаты с балконом, и произведена замена холодного фасадного остекления на теплое, благодаря чему гостиная и кухня стала больше по площади.
										</div>
										<div class="works_slide__author">Антон, август 2022 г.</div>
									</div>
									<form class="works_slide__form js_form" name="works_slide_form-7">
										<input type="tel" class="works_slide__form_input tel-input" placeholder="+7 (___) ___-__-__" name="phone">
										<button class="works_slide__form_submit btn this--yellow">Хочу так же</button>
										<div class="works_slide__form_agree">Нажимая кнопку, Вы соглашаетесь с <a href="#policy" data-fancybox="">политикой конфиденциальности</a></div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>