<section class="video section this--top">
	<div class="container">
		<div class="video__content">
			<h2 class="video__title h2_title">Всегда рады приветствовать гостей!</h2>
			<div class="video__subtitle">Посетите наше производство, и посмотрите, как мы делаем Ваше окно</div>
			<div class="video__items">
				<div class="video__item">
					Покажем полный цикл производства окон и конечный продукт
				</div>
				<div class="video__item">
					Продемонстрируем образцы оконных изделий и виды профилей
				</div>
				<div class="video__item">
					Протестируем все механизмы собственными руками
				</div>
				<div class="video__item">
					Обсудим и подберем оптимальный вариант окон согласно проекту Вашего дома
				</div>
			</div>
			<div class="video__video">
				<iframe src="https://www.youtube.com/embed/teMXekwFXi0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
			</div>
		</div>
	</div>
</section>