<section class="top">
	<div class="container">
		<div class="top__content">
			<div class="top__head">
				<h1 class="top__title">окна со стеклопакетами премиум класса<br> DS Neutral</h1>
				<div class="top__subtitle">по цене обычного окна!</div>
			</div>
			<div class="top__body">
				<div class="top__body_left">
					<div class="top__body_date">Только по <span class="change-date-month"></span>!</div>
					<div class="top__body_text">Успейте заказать по доступной цене</div>
				</div>
				<form action="#" name="top_form" class="top__form js_form">
					<input type="tel" class="top_form__input tel-input" placeholder="+7 (___) ___-__-__" name="phone">
					<button class="top_form__submit btn this--blue">Заказать замер</button>
					<div class="top_form__agree">Нажимая кнопку, Вы соглашаетесь с <a href="#policy" data-fancybox="">политикой конфиденциальности</a></div>
				</form>
			</div>
		</div>
	</div>
</section>