<footer class="footer">
	<div class="container">
		<div class="footer__content">
			<div class="footer__logo">
				<img src="./img/footer/logo.png" alt="">
			</div>
			<div class="footer__group">
				<div class="footer__group_left">
					<a href="tel:+78124253799" class="footer__tel">+7 (812) 425-37-99</a>
					<div class="footer__time">Ежедневно 09:00–21:00</div>
				</div>
				<div class="footer__group_right">
					<a href="#" class="footer__btn btn this--wh js_open_callback_popup">Заказать замер</a>
				</div>
			</div>
		</div>
	</div>
	<a href="#" class="scroll_top">
		<svg width="28" height="17" viewBox="0 0 28 17" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M3 14L13.5 3.5L24 14" stroke="#213564" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
		</svg>
	</a>
</footer>