<section class="map section" id="map_section">
	<div class="container">
		<div class="map__content">
			<h2 class="map__title h2_title">14 салонов продаж</h2>
			<div class="map__subtitle h4_title">В санкт-петербурге</div>
			<div class="map__wrapper">
				<div class="map__map" id="map"></div>
				<div class="map__card">
					<div class="map__card_top">
						<div class="map__card_title h4_title">контакты</div>
						<div class="map__card_info">
							<a href="mailto:sales@okna-peter.ru" class="map__card_mail">sales@okna-peter.ru</a>
							<div class="map__card_time">Ежедневно 09:00–21:00</div>
							<a href="tel:+78124253799" class="map__card_tel">+7 (812) 425-37-99</a>
							<div class="map__card_text">Цветом на карте обозначена зона бесплатных замеров.
								Работаем по Санкт-Петербургу и всей Ленинградской области</div>
						</div>
					</div>
					<div class="map__card_bottom">
						<a href="#" class="map__card_btn btn this--yellow js_open_callback_popup">Перезвоните мне</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>